.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #928475;
  border-color: #8c7e6e;
  box-shadow: 0 0 0 .2rem rgba(144,134,123,.5);
}

.btn-primary:hover {
  color: #fff;
  background-color: #928475;
  border-color: #8c7e6e;
}

.btn-primary {
  color: #212529;
  background-color: #a3978a;
  border-color: #a3978a;
}

.card{
  margin: 0 3vw
}

.card-body{
  font-size: large;
}

.card-header{
  cursor: pointer;
  text-align: center;
}

.card-header.collapsed {
  background:#1D539F;
  color: #fff;

}
